body {
  color: #333;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: -0.02em;
  margin: 0;
  text-rendering: optimizeLegibility;
}
a {
  color: rgb(61, 154, 104);
  text-decoration: none;
}
a:focus,
a:hover {
  color: rgba(61, 154, 104, .8);
}

h1,
h2 {
  font-weight: 700;
  letter-spacing: -.01em;
}
h1 {
  font-size: 2.5em;
  margin: 0 0 calc(1em / 2.5);
}
h2 {
  line-height: 1.5;
}

.heading {
  font-size: 2em;
}
.heading__left {
  margin: 0 0 1em;
  text-align: left;
  color: rgba(61, 154, 104, .9);
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h3 {
  font-size: 1.75em;
  font-weight: 500;
  letter-spacing: -.03em;
  line-height: 1;
  margin: 0 0 calc(1em / 1.66);
}

hgroup h1 {
  margin-bottom: calc(.3em / 2.5);
}

hgroup h2,
hgroup h3 {
  font-size: 1.75em;
  font-weight: 400;
  margin: 0 0 calc(1em / 1.75);
  opacity: .8;
}

p {
  margin: 0 0 .75em;
}

ul {
  list-style: square;
}

li {
  margin-bottom: .5em;
}

code {
  background: hsl(0,0%,95%);
  border-radius: .2em;
  color: rgb(61, 154, 104);
  display: inline-block;
  font: .85em Menlo, Monaco, monospace;
  padding: .1em .2em 0em;
}

code-block {
  line-height: 1.5;
  letter-spacing: 1px;
}

blockquote {
  margin: 0 0 1em;
  padding: 1em;
  border-left: .15em solid rgb(61, 154, 104);
  border-radius: .075em;
  background: #f7f7f7;
  color: #555;
  font-size: 1.2em;
  font-style: italic;
  line-height: 1.8;
  letter-spacing: 1px;
}

button {
  background: linear-gradient(to bottom, hsl(0,0%,95%), hsl(0,0%,85%));
  border: 1px solid hsl(0,0%,75%);
  border-top-color: hsl(0,0%,80%);
  border-bottom-color: hsl(0,0%,70%);
  border-radius: .2em;
  box-shadow: inset 0px 1px 0px #fff;
  font: inherit;
  padding: .5em 1em;
  text-shadow: 0 1px 0 #fff;
}

dl {
  display: flex;
  flex-wrap: wrap;
}
dt {
  margin: 0;
  width: 4.5em;
}
dd {
  margin: 0 0 .25em;
  width: calc(100% - 4.5em);
}

tt {
  font-family: Menlo, Monaco, monospace;
}

.t-link--dockyard:focus,
.t-link--dockyard:hover {
  opacity: .8;
}


.big {
  font-size: 1.5em;
  letter-spacing: -0.04em;
  line-height: 1;
}

.small {
  font-size: 0.8em;
  opacity: .6;
}

.center {
  text-align: center;
}

.section-slide,
.sub-section {
  box-sizing: border-box;
  text-align: center;
}
.section-slide {
  border: 4px solid rgb(61, 154, 104);
}
.sub-section h1 {
  display: inline-block;
  border-bottom: 4px solid rgba(61, 154, 104, .8);
}

.section-slide p.is-active {
  color: rgb(61, 154, 104);
}
